@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body,
:root {
    height: 100%;
    background-color: #171c26;
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #252f50;
    border-radius: 25px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
 
    background-color: #283f4b;
  
  }